@model ControlStock.Models.NovedadReposicion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NovedadReposicion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadRepuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadRepuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReposicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
